@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure AI Experiment Web App</h1>
    <p>Powered by TheSeniorDev <a href="https://www.thecodebridge.com">building AI infused apps with The Code Bridge</a>.</p>
</div>
